<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - Meu aplicativo ASP.NET</title>

</head>
<body>

    <nav>
        <div>
            <h1>Nav Bar</h1>
        </div>
    </nav>
    <div>
        @RenderBody()
    </div>
    <footer>
        <p>&copy; @DateTime.Now.Year - Meu Aplicativo ASP.NET</p>
    </footer>
</body>
</html>
